
.option-group {
    margin-top: 1rem;
}
  
.option-group label {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid #40be7063;
    color: #1e6b3c;
    background-color: #cacaca73;
    border-radius: 0.5rem;
    cursor: pointer;
}
  
.option-group input[type="radio"] {
    margin-right: 0.5rem;
}
  

#adminbox {
    top: 0px;
    right: 0px;
}

#quizForm {
    font-weight: bold;
}

#joinCodeInput {
    padding: 0.5rem;
    color: #000000;
    background-color: #40be7013;
}
#joinQuizButton {
    padding: 0.5rem;
    color: #000000;
    background-color: #40be7063;
}