
.option-group {
    margin-top: 1rem;
}
  
.option-group label {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid #40be7063;
    color: #1e6b3c;
    background-color: #bcf5d233;
    border-radius: 0.5rem;
    cursor: pointer;
}

.option-group label:hover {
    background-color: #bcf5d2;
}
  
.option-group input[type="radio"] {
    margin-right: 0.5rem;
}
  

#adminbox {
    top: 0px;
    right: 0px;
}

#quizList div {
    margin-top: 1rem;
    padding: 0.5rem;
    /* border: 2px solid #40be7063; */
    color: white;
    background-color: #1e633be1;
    border-radius: 0.5rem;
}

#quizList div:hover {
    background-color: #3abd71;
    cursor: pointer;
}

#quizForm {
    font-weight: bold;
}

#joinCodeInput {
    padding: 0.5rem;
    color: #000000;
    background-color: #40be7048;
    border-radius: 0.5rem;
}

#joinCodeInput hover {
    border: 2px solid #40be7063;
}

#joinQuizButton {
    padding: 0.5rem;
    color: #000000;
    background-color: #40be7063;
    border-radius: 0.5rem;
}